PORT = 3000
MONGO_URI = 'mongodb+srv://pradyumnakedilaya:secret123%23@cluster0.vlavb.mongodb.net/oauth?retryWrites=true&w=majority',
GOOGLE_CLIENT_ID = '457453379813-1ei0s3u553o1elucdfbmhj6c8v6cknt7.apps.googleusercontent.com',
GOOGLE_CLIENT_SECRET = 'pIXQof2OcQjSr5q2mL48Wc4G'